body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  

  
  h1, h2 {
    font-size: 2em;
  }
  
  section {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  header {
    background-color: orangered;
    color: #fff;
    padding: 20px;
  }
  footer {
    background-color: red;
    padding: 20px;
  }
  
  section:nth-of-type(3) {
    display: none;
  }
  
  input[type="text"] {
    width: 200px;
    margin-bottom: 10px;
  }

  @media (min-width: 500px) {
    section:nth-of-type(3) {
      display: block;
    }
  }
  